<footer>
	<div class="row">
		<div class="large-5 small-3 columns">
			<a href="/">EarWormIt</a>
			<div class="social-media fn-hide">
				<ul class="help-links">
					<li><a href="/contact-us">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>